body, div, header, main, h1, h2, ul, li {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/cenario-natureza.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}

/* Typografy */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ulli.button {
    list-style-position: outside;
} */

li {
    list-style-type: none;
}

/* Header */
header {
    text-align: center;
    margin: 20px;
}

h2 {
    text-align: center;
}

/* Main */
main {
    margin: auto;
    width: 80%;
}

.consoante, .silaba, .vogal {
    margin: 4px 2px;
    height: 100px;
    width: 100px;
}

button.vogal, button.consoante {
    background-color: #FFC107;
}

button.silaba {
    background-color: #03A9F4;
}

.alfabeto li:hover, .silaba li:hover {
    background-color: aquamarine;
}

button:hover {
    background-color: aquamarine;
}